@model Kalkulator_Kalorii.Models.KalkulatorModelOut

@{
    ViewBag.Title = "Dziekujemy";
}
<p></p>
<p></p>
<p class="napis-glowny">Liczba kalorii którą powinieneś spożywać :@Model.SumaKalorii</p>
<p class="napis-poboczny">Ilość białka: @Model.Białko g</p>
<p class="napis-poboczny">Ilość tłuszczy: @Model.Tluszcze g</p>
<p class="napis-poboczny">Ilość węglowodanów: @Model.Weglowodany g</p>