@model Kalkulator_Kalorii.Models.KalkulatorModel

@{
    ViewBag.Title = "Kalkulator";
}

<h2>Witamy w kalkulatorze kalorii</h2>
<p>Wypełnij formularz, a dowiesz się ile kalorii powinieneś spożywać</p>
<p></p>
<div>
    <p>
        @Html.ActionLink("Wyślij Formularz", "PobierzDane") 
        
    </p>
</div>
